force-app/main/default/flows/Order_Ready_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>When an Order status changes to Ready, sends an email alert to the customer and creates a Notification record.</description>
    <environments>Default</environments>
    <interviewLabel>Order Ready Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Ready Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Is_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <decisions>
        <name>Check_Status_Is_Ready</name>
        <label>Check Status Is Ready</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Notification_Record</targetReference>
            </connector>
            <label>Status Is Ready</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Notification_Record</name>
        <label>Create Notification Record</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Send_Order_Ready_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>NotificationMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Order Ready</stringValue>
            </value>
        </inputAssignments>
        <object>Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <actionCalls>
        <name>Send_Order_Ready_Email</name>
        <label>Send Order Ready Email</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SmartMenu Order is Ready!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>NotificationMessage</name>
        <dataType>String</dataType>
        <expression>"Your order " &amp; {!$Record.Name} &amp; " is ready for pickup! Total: ₹" &amp; TEXT({!$Record.Total__c})</expression>
    </formulas>
    <formulas>
        <name>NotificationName</name>
        <dataType>String</dataType>
        <expression>"NOTIF-" &amp; {!$Record.Name} &amp; "-READY"</expression>
    </formulas>
</Flow>
