force-app/main/default/flows/Review_Auto_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>When a new Review is created with a low rating (1-2), automatically creates a Service Cloud Case for follow-up.</description>
    <environments>Default</environments>
    <interviewLabel>Review Auto Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Auto Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Low_Rating</targetReference>
        </connector>
        <object>Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <decisions>
        <name>Check_Low_Rating</name>
        <label>Check Low Rating</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Good Rating</defaultConnectorLabel>
        <rules>
            <name>Rating_Is_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case</targetReference>
            </connector>
            <label>Rating Is Low</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>"Low Review Alert — Rating: " &amp; TEXT({!$Record.Rating__c}) &amp; "/5"</expression>
    </formulas>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>"A customer submitted a low rating of " &amp; TEXT({!$Record.Rating__c}) &amp; "/5." &amp; BR() &amp; BR() &amp; "Comment: " &amp; {!$Record.Comment__c}</expression>
    </formulas>
</Flow>
